@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  display: flex;
  align-items: center;
  height:100vh;
  width:100vw;
  overflow: hidden;
  font-family: 'Lobster', cursive;
  color:floralwhite;
  background: no-repeat center url('https://source.unsplash.com/random/?christmas');
  background-size: cover;
}

.message {
  padding:25px;
  width:100%;
  text-align: center;
  text-shadow:
    3px 3px 5px rgba(0,0,0,.3),
    0 0 5px white;
  background-color: rgba(0,0,0,.3);
}

.message h1 {
  font-size:9vw;
}
.message h1 span:first-child {
  color:darkgreen;
}
.message h1 span:last-child {
  color:crimson;
}
.message h2 {
  font-size:6vw;
}